<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./main.css">
     <title>Document</title>
</head>
<body>
   
<div style="display:flex; justify-content: center; align-items: center; flex-direction: column;">
       
          <div>
   <h1>WISTIA</h1> 

<h2>Password Reset</h2> 
<h4>{{user_name}}If you've lost your password or wish to reset it, use the link below to get started.
</h4>

  <button style=" background-color:aquamarine ; border: none; border-radius: 0.2rem; padding-left: 2rem; padding-right: 2rem; padding-top:1rem; padding-bottom: 1rem; ">Reset Your Password </button>

<p>If you did not request a password reset, you can safely ignore this email. Only
a person with access to vour email can reset vour account password.
</p>

</div>
</div>
</body>
</html>